# requirements.txt

# InvenTree API library
inventree==0.13.2

# Python Dotenv for handling environment variables
python-dotenv==1.0.0

# Brother_QL library for printing labels
brother-ql-inventree==1.1

# Typst library for creating QR codes in Typst files
typst==0.10.0